@media screen and (min-width: 500px) {

body{
    max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
    background-color:  hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.lb{
    float:left;
    background:#e28525;
    width:25%;
    height:340px;
    margin-top: 10%;
    margin-left: 13%;
    border-radius: 1%;
}

.mb{
    float:left;
    background:#016972 ;
    width:25%;
    height:340px;
    margin-top: 10%;
    border-radius: 1%;
}

.rb{
    float: right;
    background:#00403f ;
    width:25%;
    height:340px;
    margin-top: 10%;
    margin-right: 12%;
    border-radius: 1%;
}

#leftbox {
    float:left;
    background:Red;
    width:25%;
    height:280px;
}
#middlebox{
    float:left;
    background:Green;
    width:50%;
    height:280px;
}
#rightbox{
    float:right;
    background:blue;
    width:25%;
    height:280px;
}


.firstb {
  background-color: #ffffff;
  border: none;
  color: rgb(255, 136, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
  cursor: pointer;
  border-radius: 16px;
}    
}

@media screen and (max-width: 499px) {

    body{
        font-family: 'Big Shoulders Display', cursive;
    }

    .lb{
        
        background:#e28525;
        width: 80%;
        height: 70%;
        margin-left: 20%;
        margin-left: 10%;
    }
    
    .mb{
        background:#016972 ;
        width: 80%;
        height: 70%;
        margin-left: 20%;
        margin-left: 10%;
    }
    
    .rb{
        background:#00403f ;
        width: 80%;
        height: 70%;
        margin-left: 20%;
        margin-left: 10%;
    }

    .firstb {
        background-color: #ffffff;
        border: none;
        color: rgb(255, 136, 0);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left: 10%;
        cursor: pointer;
        border-radius: 16px;
        margin-bottom: 10%;

      }    
      }

